<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
   <select id="getAllProduct" resultType="kr.co.vo.ProductVO">
   		SELECT
   			ID_PRODUCT, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STATE, PRODUCT_DESCRI, TYPE_PRODUCT AS id_type
   		FROM PRODUCT
   </select>
   
   <insert id="registerNewProduct" parameterType="kr.co.vo.ProductVO" useGeneratedKeys="true" keyProperty="id_product">
   	    <selectKey keyProperty="id_product" resultType="int" order="BEFORE">
	    	SELECT product_seq.nextval FROM DUAL
	    </selectKey>
	   	INSERT INTO PRODUCT
			(
				ID_PRODUCT,
		        PRODUCT_NAME,
		        PRODUCT_PRICE,
		        PRODUCT_STATE,
		        PRODUCT_DESCRI,
		        TYPE_PRODUCT,
		        BRAND_PRODUCT,
		        MODEL_PRODUCT
			)
		VALUES
			(
				#{id_product}, 
				#{product_name},
				#{product_price},
				#{product_state},
				#{product_descri},
				#{id_type},
				#{id_brand},
				#{id_model}
			)
   </insert>
   
   <insert id="insertNewModel">
   		INSERT INTO 
	   		<if test="id_brand == 1"> SAMSUNG_PRODUCT_MODELS</if>
	   		<if test="bid_brand == 2">LG_PRODUCT_MODELS</if>
	   		<if test="id_brand == 3">APPLE_PRODUCT_MODELS</if>
	   		<if test="id_brand == 4">MOTOROLA_PRODUCT_MODELS</if>
	   		<if test="id_brand == 5">XIAOMI_PRODUCT_MODELS</if>
   			(
   				MODEL_ID,
				MODEL,
				PRODUCT_TYPE_ID
   			)
   		VALUES
   			(
   			   	<if test="id_brand == 1"> SAMSUNG_MODEL_SEQ.nextval,</if>
		   		<if test="id_brand == 2">LG_MODEL_SEQ.nextval,</if>
		   		<if test="id_brand == 3">APPLE_MODEL_SEQ.nextval,</if>
		   		<if test="id_brand == 4">MOTOROLA_MODEL_SEQ.nextval,</if>
		   		<if test="id_brand == 5">XIAOMI_MODEL_SEQ.nextval,</if>
		   		#{model},
   				#{type_product}   				
   			)
   </insert>
   
   <select id="getAllProductType" resultType="kr.co.vo.ProductVO">
	   	SELECT ID_PROD_TYPE AS id_type, TYPE 
	   	FROM PRODUCT_TYPE
   </select>
   
   <select id="getAllProductBrand" resultType="kr.co.vo.ProductVO">
	   	SELECT ID_PROD_BRAND AS id_brand, BRAND
	   	FROM PRODUCT_BRAND
   </select>
 
   <select id="getModelProduct" resultType="kr.co.vo.ProductModelVO">
      SELECT MODEL_ID, MODEL	      
			 FROM 
			  	<if test="id_brand == 1">SAMSUNG_PRODUCT_MODELS</if>
		   		<if test="id_brand == 2">LG_PRODUCT_MODELS</if>
		   		<if test="id_brand == 3">APPLE_PRODUCT_MODELS</if>
		   		<if test="id_brand == 4">MOTOROLA_PRODUCT_MODELS</if>
		   		<if test="id_brand == 5">XIAOMI_PRODUCT_MODELS</if>
		   	WHERE PRODUCT_TYPE_ID = #{id_type}
   </select>
   
   <select id="listAllModel" resultType="kr.co.vo.ProductModelVO">
	   	SELECT MODEL_ID, MODEL, PRODUCT_TYPE_ID
		FROM
			<if test="id_brand == 1">SAMSUNG_PRODUCT_MODELS</if>
		   	<if test="id_brand == 2">LG_PRODUCT_MODELS</if>
		   	<if test="id_brand == 3">APPLE_PRODUCT_MODELS</if>
		   	<if test="id_brand == 4">MOTOROLA_PRODUCT_MODELS</if>
		   	<if test="id_brand == 5">XIAOMI_PRODUCT_MODELS</if> 
   </select>
   
      <!-- About File -->
    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO PRODUCT_FILE(
			FILE_ID,
			ID_PRODUCT,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_MP_FILE_ID.NEXTVAL,
			#{ID_PRODUCT},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    <!-- Attachment Search -->
    <select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_ID,
			   ORG_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		  FROM PRODUCT_FILE
		 WHERE ID_PRODUCT = #{ID_PRODUCT}
		   AND DEL_GB = 'N'
		   ORDER BY FILE_ID ASC
	</select>
	
	<!-- Download the attached file -->
	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		SELECT 
			STORED_FILE_NAME,
			ORG_FILE_NAME
		FROM PRODUCT_FILE
		WHERE ID_PRODUCT = #{ID_PRODUCT}
	</select>
	
	 <update id="updateFile" parameterType="hashMap">
    	UPDATE PRODUCT_FILE SET
    	DEL_GB = 'Y'
    	WHERE ID_PRODUCT = #{ID_PRODUCT}
    </update>
</mapper>